.App {
  text-align: center;
}

* {
  cursor: none;
}


.cursor {
  display: flex;
  position: absolute;
  font-family: Inter, sans-serif;
  transition: opacity 0.3s ease;
  will-change: transform;
  overflow: visible;
}

.avatar {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.cursor-wrapper {
  display: flex;
  padding: 4px 24px 4px 5px;
  border-radius: 0px 24px 24px 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(159, 135, 249 );
}

.cursor-wrapper span {
  height: 32px;
  line-height: 32px;
  padding-left: 8px;
  color: #fff;
  text-align: left;
  vertical-align: middle;
  font-size: 15px;
}

